<template>
  <form class="form" @submit.prevent="attemptLogin(credentials)">
      <h2 class="form__title">Log in</h2>
      <div class="form__group">
          <label for="email">Email:</label>
          <input type="text" name="email" id="email" class="form__control" v-model="credentials.email">
      </div>
      <div class="form__group">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" class="form__control" v-model="credentials.password">
      </div>
      <button type="submit" class="btn">Log in</button>
      <div class="form__errors" v-if="errors">{{ errors }}</div>
  </form>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'miadvenio-login',
  computed: {
    ...mapGetters({
      errors: 'errorMessages'
    })
  },
  methods: {
    ...mapActions([
      'attemptLogin'
    ])
  },
  data () {
    return {
      credentials: {
        email: '',
        password: ''
      }
    }
  }
}
</script>

<style>
  
</style>
